@{
    Layout = "_Layout.cshtml";
    Page.Title = "客户管理";
    var model = this.Model as CustomersPageModel;
}

@section scripts {
    @Html.Raw(UiHelper.RefJsFileHtml("/static/js/MyPage/Customers.js"))
}


<p><a id="btnCreateItem" href="#" class="easyui-linkbutton" iconcls="icon-add">创建客户</a></p>

<table class="GridView" cellspacing="0" cellpadding="4" border="0" style="border-collapse:collapse;">
    <tr align="left">
        <th style="width:20px;">&nbsp;</th>
        <th style="width:260px;">客户名称</th>
        <th style="width:80px;">联系人</th>
        <th>地址</th>
        <th style="width:80px;">邮编</th>
        <th style="width:160px;">电话</th>
    </tr>
    @foreach( Customer customer in model.List ) {
    <tr>
        <td>
            <a href="/ajax/ns/Customer/Delete.aspx?id=@(customer.CustomerID)&returnUrl=@model.RequestUrlEncodeRawUrl"
               title="删除" class="easyui-linkbutton" plain="true">
                <img src="/static/Images/delete.gif" alt="删除" />
            </a>
        </td>
        <td>
            <a href="javascript:;" class="easyui-linkbutton" rowid="@customer.CustomerID" plain="true" iconcls="icon-open">
                @customer.CustomerName
            </a>
        </td>
        <td>
            <span name="ContactName">@customer.ContactName</span>
        </td>
        <td>
            <span name="Address">@customer.Address</span>
        </td>
        <td>
            <span name="PostalCode">@customer.PostalCode</span>
        </td>
        <td>
            <span name="Tel">@customer.Tel</span>
        </td>
    </tr>
    }

    @Html.Raw(model.PagingInfo.PaginationBar(6))
</table>

<div id="divCustomerInfo" title="客户" style="padding: 8px; display: none">
    @RenderPage("/Pages/Style1/Controls/CustomerInfo.cshtml", model.Customer)
    
</div>
